<div id="{{id}}">
    <div class="row">
        {{> logosection}}
        <div class="col s12 event-card">
            <div class="from-them">
                <p class="question">{{message}}</p>
            </div>
        </div>
    </div>
</div>
