
<div id="{{sequence}}">
    <div class="row">
        {{> logosection}}
        <div class="col s12">
            <div class="from-them">
                <p class="question">{{question}}</p>
            </div>
        </div>
    </div>
    <div class="submit-section">
        <div class="col s6">
            <a class="waves-effect waves-light btn-large btn-full-width text-center resp-option" data-value="yes" data-qid="{{sequence}}">Yes</a>
        </div>
        <div class="col s6">
            <a class="waves-effect waves-light btn-large btn-full-width text-center resp-option" data-value="no" data-qid="{{sequence}}" >No</a>
        </div>
    </div>
</div>
