<div class="container">
    <div class="row">
        <div class="col s12">
          <h3 class="text-center enrollment-title">{{user.first_name}}, the YMCA invites you to Bloom!</h3>
        </div>
    </div>
    <div class="row">
        <div id="botQuestions">
        </div>
    </div>
    <!-- <div class="scroll-btn">
        <a class="waves-effect waves-light btn-large btn-full-width orange darken-3" >Scroll down to see more!</a>
    </div> -->
</div>



<script >const questionnaireObj = {{{main}}}</script>
<script type="text/javascript" src="/js/services/dialogue.js"></script>
<script type="text/javascript" src="/js/services/events.js"></script>
<script type="text/javascript" src="/js/enrollment-bloom.js"></script>
<script type="text/javascript" src="/js/events-demo.js"></script>
