<div class="col s6">
    <a class="interestItem" id={{hobby.name}} data-id="{{hobby.name}}" style="background-image: url({{hobby.imageUrl}})">
        <header class="clicked">
            <h2>
              {{hobby.name}}
          </h2>
        </header>
    </a>
</div>
